/* Google fonts  */
body{
    font-family: 'Poppins', sans-serif;
}
section{
    padding-left: 5%;
    padding-right: 5%;
}
.intro-content h1{
    font-size: 50px;
}
.intro-content{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 70%;
    padding-left: 15%;
}
.link-button{
    text-decoration: none;
    background-color:#E02C6D;
    color: white;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
}
.brand{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.product{
    background-color: rgb(236, 236, 145);
    width: 400px;
    height: 500px;
    margin: 10px;
    padding: 30px;
}

.product-banner img {
    height: 300px;
    width: 350px;
}
.ratings{
    color: orange;
    display: flex;
}
.grey-color{
    color: grey;
}
.see-more-product{
    text-decoration: none;
    color: #E02C6D;
    font-weight: 700;
    display: flex;
    position: ;
}
.additional{
    display: flex;
}

footer{
    text-align: center;
    background-color: rgb(1, 1, 31);
    color: white;
    padding: 3px;
}